@import "/styles/home.module.scss";

.skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 3em 0;
  @media screen and (min-width: $tablet_screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: $laptop_screen) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.skill_align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.text_style {
  margin-top: 0.25em;
  text-align: center;
}
