.form_container {
  width: 80%;
  margin: 3em 2em 5em;
  max-width: 600px;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.input_label {
  margin-left: 6px;
  font-weight: 100;
}

.input_field {
  height: 2em;
  font-size: 18px;
  padding: 0 8px;
  margin: 0.25em 0;
  border: none;
  border-bottom: 2px solid rgb(70, 70, 70);
  &:focus {
    outline: none;
    border-bottom: 2px solid rgb(120, 225, 210);
  }
}

.message_style {
  height: 6em;
}

.submit_style {
  border: none;
  padding: 2em 6em;
  background-color: #000;
  color: #fff;
}

.error_message_style {
  color: #ea0027;
  margin-top: 0.5em;
}

.success_message {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  animation: message_animation 3s forwards;
}

@keyframes message_animation {
  0% {
    transform: translateY(-100px);
  }
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
