.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.footer_list_container {
  padding: 2em 0 2em 3em;
}

.footer_list {
  padding-bottom: 0.5em;
  color: #fff;
  font-weight: 100;
  list-style-type: none;
}

.footer_image_container {
  display: flex;
  align-items: center;
  padding: 3em 1.5em 0 0;
}

.image_style {
  padding: 0.5em;
  border-radius: 6px;
  margin: 0.25em;
  &:last-child {
    background-color: #fff;
  }
}
