@import "/styles/home.module.scss";

$border_style: 1px solid #000;

.header_container {
  @media screen and (min-width: $tablet_screen) {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
  }
}

.header_icon {
  display: none;
  font-size: 36px;
  @media screen and (min-width: $tablet_screen) {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 2em 0;
  width: 80%;
  @media screen and (min-width: $tablet_screen) {
    width: 40%;
  }
}

.grid_items {
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid #000;
  &:first-child {
    padding-left: 0.5em;
  }
  &:last-child {
    padding-right: 0.5em;
  }
}

.active {
  opacity: 0.3;
  animation: active_animation 0.8s forwards;
}

@keyframes active_animation {
  25% {
    border-left: $border_style;
  }
  50% {
    border-left: $border_style;
    border-top: $border_style;
  }
  75% {
    border-left: $border_style;
    border-top: $border_style;
    border-right: $border_style;
  }
  100% {
    border-left: $border_style;
    border-top: $border_style;
    border-right: $border_style;
    border-bottom: none;
  }
}
