.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 2em 0;
  width: 80%;
}

.grid_items {
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid #000;
  &:first-child {
    padding-left: 0.5em;
  }
  &:last-child {
    padding-right: 0.5em;
  }
}

.active {
  opacity: 0.3;
  border: 1px solid #000;
  border-bottom: none;
  pointer-events: none;
}
