@import "/styles/home.module.scss";

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
}

.modal_frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: $laptop_screen) {
    width: 80%;
  }
}

.modal_container {
  transform: scale(0.5);
  @media screen and (min-width: $tablet_screen) {
    transform: scale(0.7);
  }
  @media screen and (min-width: $laptop_screen) {
    display: flex;
    justify-content: space-between;
    transform: scale(0.9);
  }
}
